@{
    ViewBag.Title = "Salão do Pantcho - Sobre";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<section class="row">
    <section class="col-sm-8">
        <h1>Salão do Pantcho</h1>
        <h4>Barbershop</h4>
        <hr />
        <h5>Sobre</h5><br />
        <article>
            <p>
                Com uma equipe de profissionais qualificados e experientes, o <strong>Salão do Pantcho</strong> é um
                dos lugares mais confiáveis de seu bairro para o tratamento de cabelo e de sua beleza.
                Com seu ambiente extremamente acolhedor e hospitaleiro faz com que a experiência da mudança de seu visual
                se torne ainda mais agradável e exuberante em um ambiente totalmente agradável e descontraído em meio a
                sons musicais em seu ambiente.
            </p>
            <p>
                De todo o bairro onde está situado, o <strong>Salão do Pantcho</strong> é o lugar onde você terá os melhores
                serviços, as melhores oportunidades de mudança de seu visual, melhores entretenimentos e promoções imperdíveis
                que farão de você um cliente especial.
            </p><br />
        </article>
    </section>
    <aside class="col-sm-4 promocoes">
        Promoções
    </aside>
</section>