@{
    ViewBag.Title = "Salão do Pantcho";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<section class="row">
    <section class="col-sm-8">
        <h1>Salão do Pantcho</h1>
        <h4>Barbershop</h4>
        <hr />
        <article>
            <p>Sejam bem-vindos ao mais novo <strong>Salão do Pantcho</strong>.</p>
            <p>
                O <strong>Salão do Pantcho</strong> é um ambiente moderno, aconchegante e bem equipado com o que há
                de melhor e mais recente na indústria cosmética, oferecendo serviços exclusivos e de alta qualidade
                para todos os nossos clientes.
            </p>
            <p>
                Oferecemos a todos os nossos clientes um cartão - que é exclusividade do <strong>Salão do Pantcho</strong> -
                chamado <strong><em>Cartão Fidelidade</em></strong> cujo objetivo é manter a fidelidade de nossos clientes.
                Para mais informações veja o quadro ao lado.
            </p><br />
            <p>
                Venha e confira nossos Serviços, Produtos, Acessórios e Promoções e se torne uma pessoa cada vez mais especial.
            </p>
        </article>
    </section>
    <aside class="col-sm-4 cartao">
        <figure>
            <img class="cartaofidelidade img-responsive" src="~/Imagens/Conteudo/cartãofidelidadefront.jpg" alt="Cartão Fidelidade - Salão do Pantcho" title="Cartão Fidelidade - Salão do Pantcho" />
            <figcaption>Cartão Fidelidade - Salão do Pantcho</figcaption>
        </figure><br />
        <figure>
            <img class="cartaofidelidade img-responsive" src="~/Imagens/Conteudo/cartãofidelidadeback.jpg" alt="Cartão Fidelidade - Salão do Pantcho" title="Cartão Fidelidade - Salão do Pantcho" />
            <figcaption>Cartão Fidelidade - Salão do Pantcho</figcaption>
        </figure><br />
        <p style="text-indent:0;">Gostou? venha conferir mais promoções <br /> clicando <a href="/Sobre/">aqui</a>.</p>
    </aside>
</section>