@{
    ViewBag.Title = "Salão do Pantcho - Localização";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<section class="row">
    <section class="col-sm-8">
        <h1>Salão do Pantcho</h1>
        <h4>Barbershop</h4>
        <hr />
        <article>
            <h5>Localização</h5><br />
            <p>
                Venha fazer-nos uma visita e comprove tudo o que você ficou sabendo de nossos Serviços, Produtos, Acessórios
                e Promoções. Situado em um lugar privilegiado com fácil acesso e localização, o <strong>São do Pantcho</strong>
                promove a você tudo o que você merece em termos de qualidade, conforto e serviços de alta qualidade.
            </p>
        </article>
        <section class="row">
            <section class="col-sm-4">
                <br /><h6>Localização:</h6><br />
                <div class="textoinformacoes">
                    <p>Avenida Marrocos, nº39</p>
                    <p>Vila Kennedy - Bangu</p>
                    <p>Rio de Janeiro - RJ</p>
                    <p>21852-590</p>
                </div>
            </section>
            <aside class="col-sm-8 mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3676.48144969681!2d-43.4939513!3d-22.8586668!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9be00295e5e697%3A0xf7c613cb073c7150!2sSal%C3%A3o+do+Pantcho!5e0!3m2!1spt-BR!2sbr!4v1464539440810" width="470" height="370" frameborder="1" style="border: 1px solid #ffffff;" allowfullscreen title="Mapa - Salão do Pantcho"></iframe>
            </aside>
        </section>
    </section>
</section>