@{
    ViewBag.Title = "Salão do Pantcho - Serviços";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<section class="row">
    <div class="col-sm-8">
        <h1>Salão do Pantcho</h1>
        <h4>Barbershop</h4>
        <hr />
        <h5>Serviços</h5><br />
        <article>
            <p>
                Nossos Serviços são disponibilizados a todo o público de pessoas em geral sejam elas nossos clientes ou não.
                Para se tornar nosso cliente e ter um cadastro no nosso sistema clique <a href="#">aqui</a>.
            </p>
            <p>
                Dividimos nosso público em três gêneros. Cada Gênero é dividido em quatro Grupos especificos de pessoas.
            </p>
            <p>
                A primeira lista abaixo encontram-se listadas as três <em>Gêneros</em> a saber: <br />
            </p>
            <div class="listaservicos">
                <h6>Gêneros</h6>
                <p>
                    <ul>
                        <li class="itenslistaservicos">
                            <a name="GeneroPublicoMasculino" id="GeneroPublicoMasculino" class="ancorasitenslistaservicos">Público Masculino</a> 
                            - Serviços destinados ao público masculino em geral (gênero masculino). <br />
                            Detalhes clique <a href="#PublicoMasculino">aqui</a>.
                        </li>
                        <li class="itenslistaservicos">
                            <a name="GeneroPublicoFeminino" id="GeneroPublicoFeminino" class="ancorasitenslistaservicos">Público Feminino</a> - 
                            Serviços destinados ao público feminino em geral (gênero feminino). <br />                            
                            Detalhes clique <a href="#PublicoFeminino">aqui</a>.
                        </li>
                        <li class="itenslistaservicos">
                            <a name="GeneroPublicoUnissex" id="GeneroPublicoUnissex" class="ancorasitenslistaservicos">Público Unissex</a> - 
                            Serviços destinados tanto ao público masculino (gênero masculino) quanto ao público feminino (gênero 
                            feminino). <br />
                            Detalhes clique <a href="#PublicoUnissex">aqui</a>.
                        </li>
                    </ul>
                </p>
            </div>
            <br />
            <p>
                A segunda lista abaixo encontram-se listados os quatro <em>Grupos</em> a saber: <br />
            </p>
            <div class="listaservicos">
                <h6>Grupos</h6>
                <p>
                    <ul>
                        <li class="itenslistaservicos">
                            <a name="GeneroPublicoInfantil" id="GeneroPublicoInfantil" class="ancorasitenslistaservicos">Público Infantil</a>
                            - Serviços destinados ao público infantil. Tanto o público masculino (gênero masculino) quanto o
                            público feminino (gênero feminino) são contemplados. <br />
                            Detalhes clique <a href="#PublicoInfantil">aqui</a>.
                        </li>
                        <li class="itenslistaservicos">
                            <a name="GeneroPublicoJovem" id="GeneroPublicoJovem" class="ancorasitenslistaservicos">Público Jovem</a>
                            - Serviços destinados ao público jovem. Tanto o público masculino (gênero masculino) quanto o
                            público feminino (gênero feminino) são contemplados. <br />
                            Detalhes clique <a href="#PublicoJovem">aqui</a>.
                        </li>
                        <li class="itenslistaservicos">
                            <a name="GeneroPublicoAdulto" id="GeneroPublicoAdulto" class="ancorasitenslistaservicos">Publico Adulto</a>
                            - Serviços destinados ao público adulto. Tanto o público masculino (gênero masculino) quanto o
                            público feminino (gênero feminino) são contemplados. <br />
                            Detalhes clique <a href="#PublicoAdulto">aqui</a>.
                        </li>
                        <li class="itenslistaservicos">
                            <a name="GeneroPublicoIdoso" id="GeneroPublicoIdoso" class="ancorasitenslistaservicos">Publico Idoso</a>
                            - Serviços destinados ao público idoso. Tanto o público masculino (gênero masculino) quanto o
                            público feminino (gênero feminino) são contemplados. <br />
                            Detalhes clique <a href="#PublicoIdoso">aqui</a>.
                        </li>
                    </ul>
                </p>
            </div>
        </article>
    </div>
</section>

<br /><hr /><br />

<section class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <article>
            <div class="boxgenerogrupopublico">
                <h6>Gêneros</h6>
                <p>
                    <a name="PublicoMasculino" id="PublicoMasculino" class="ancorasitenslistaservicos">Público Masculino</a> - Serviços 
                    destinados ao público masculino em geral (gênero masculino). <br />
                </p>
                <p>
                    Proporcionamos para o Público Masculino os mais variados serviços oferecidos pelo <strong>Salão do Pantho</strong>.
                    Destacam-se dentre eles os seguintes serviços listados logo abaixo:
                </p>
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li class="itenslistaservicos">
                                Nome:<br />
                                Corte de Cabelo à Máquina Simples;
                                <br /><br />Descrição:<br />

                                <br /><br />Preço:<br />

                            </li>
                            <li class="itenslistaservicos">
                                Para saber de mais serviços oferecidos, consulte-nos clicando <a href="/Contato/">aqui</a>.
                            </li>
                        </ul>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style="clear:both; float:right;">
                        <figure style="float:left;">
                            <img class="active img-responsive" style="border:2px solid #fff;" src="~/Imagens/Fotos/PublicoMasculino/publicomasculino1.png" alt="Público Masculino" title="Público Masculino" />
                        </figure>
                        <figure class="col-sm-offset-1" style="float:left;">
                            <img class="active img-responsive" style="border:2px solid #fff;" src="~/Imagens/Fotos/PublicoMasculino/publicomasculino2.png" alt="Público Masculino" title="Público Masculino" />
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="textovoltaraotopo"><a href="#GeneroPublicoMasculino">Voltar ao topo</a></p>
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="boxgenerogrupopublico">
                <h6>Gêneros</h6>
                <p>
                    <a name="PublicoFeminino" id="PublicoFeminino" class="ancorasitenslistaservicos">Público Feminino</a> - Serviços
                    destinados ao público feminino em geral (gênero feminino). <br />
                <p>
                    Proporcionamos para o Público Feminino os mais variados serviços oferecidos pelo <strong>Salão do Pantho</strong>.
                    Destacam-se dentre eles os seguintes serviços listados logo abaixo:
                </p>
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li class="itenslistaservicos">
                                Nome:<br />
                                Corte de Cabelo à Máquina Simples;
                                <br /><br />Descrição:<br />

                                <br /><br />Preço:<br />

                            </li>
                            <li class="itenslistaservicos">
                                Para saber de mais serviços oferecidos, consulte-nos clicando <a href="/Contato/">aqui</a>.
                            </li>
                        </ul>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style="clear:both; float:right;">
                        <figure style="float:left;">
                            <img class="active img-responsive" style="border:2px solid #fff;" src="~/Imagens/Fotos/PublicoFeminino/publicofeminino1.png" alt="Público Feminino" title="Público Feminino" />
                        </figure>
                        <figure class="col-sm-offset-1" style="float:left;">
                            <img class="active img-responsive" style="border:2px solid #fff;" src="~/Imagens/Fotos/PublicoFeminino/publicofeminino2.png" alt="Público Feminino" title="Público Feminino" />
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="textovoltaraotopo"><a href="#GeneroPublicoFeminino">Voltar ao topo</a></p>
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="boxgenerogrupopublico">
                <h6>Gêneros</h6>
                <p>
                    <a name="PublicoUnissex" id="PublicoUnissex" class="ancorasitenslistaservicos">Público Unissex</a> - Serviços
                    destinados ao público unissex em geral (gênero masculino e feminino). <br />
                <p>
                    Proporcionamos para o Público de ambos os sexos Masculino e Feminino os mais variados serviços oferecidos pelo 
                    <strong>Salão do Pantho</strong>. Destacam-se dentre eles os seguintes serviços listados logo abaixo:
                </p>
                <div class="row">
                    <div class="col-sm-10">
                        <ul>
                            <li class="itenslistaservicos">
                                Nome:<br />
                                Corte de Cabelo à Máquina Simples;
                                <br /><br />Descrição:<br />

                                <br /><br />Preço:<br />

                            </li>
                            <li class="itenslistaservicos">
                                Para saber de mais serviços oferecidos, consulte-nos clicando <a href="/Contato/">aqui</a>.
                            </li>
                        </ul>
                        <br />
                    </div>
                    <div class="col-sm-2" style="clear:both; float:right;">
                        <figure style="float:right;">
                            <img class="active img-responsive" style="border:2px solid #fff;" src="#" alt="" title="#" />
                        </figure>
                    </div>
                    <div class="col-sm-12">
                        <p class="textovoltaraotopo"><a href="#GeneroPublicoUnissex">Voltar ao topo</a></p>
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="boxgenerogrupopublico">
                <h6>Grupos</h6>
                <p>
                    <a name="PublicoInfantil" id="PublicoInfantil" class="ancorasitenslistaservicos">Público Infantil</a> - Serviços
                    destinados ao público infantil em geral (gênero masculino e feminino). <br />
                <p>
                    Proporcionamos para o Público de ambos os sexos Masculino e Feminino os mais variados serviços oferecidos pelo
                    <strong>Salão do Pantho</strong>. Destacam-se dentre eles os seguintes serviços listados logo abaixo:
                </p>
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li class="itenslistaservicos">
                                Nome:<br />
                                Corte de Cabelo à Máquina Simples;
                                <br /><br />Descrição:<br />

                                <br /><br />Preço:<br />

                            </li>
                            <li class="itenslistaservicos">
                                Para saber de mais serviços oferecidos, consulte-nos clicando <a href="/Contato/">aqui</a>.
                            </li>
                        </ul>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style="clear:both; float:right;">
                        <figure style="float:left;">
                            <img class="active img-responsive" style="border:2px solid #fff;" src="~/Imagens/Fotos/PublicoInfantil/publicoinfantil1.png" alt="Público Infantil" title="Público Infantil" />
                        </figure>
                        <figure class="col-sm-offset-1" style="float:left;">
                            <img class="active img-responsive" style="border:2px solid #fff;" src="~/Imagens/Fotos/PublicoInfantil/publicoinfantil2.png" alt="Público Infantil" title="Público Infantil" />
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="textovoltaraotopo"><a href="#GeneroPublicoInfantil">Voltar ao topo</a></p>
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="boxgenerogrupopublico">
                <h6>Grupos</h6>
                <p>
                    <a name="PublicoJovem" id="PublicoJoven" class="ancorasitenslistaservicos">Público Jovem</a> - Serviços
                    destinados ao público jovem em geral (gênero masculino e feminino). <br />
                <p>
                    Proporcionamos para o Público de ambos os sexos Masculino e Feminino os mais variados serviços oferecidos pelo
                    <strong>Salão do Pantho</strong>. Destacam-se dentre eles os seguintes serviços listados logo abaixo:
                </p>
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li class="itenslistaservicos">
                                Nome:<br />
                                Corte de Cabelo à Máquina Simples;
                                <br /><br />Descrição:<br />

                                <br /><br />Preço:<br />

                            </li>
                            <li class="itenslistaservicos">
                                Para saber de mais serviços oferecidos, consulte-nos clicando <a href="/Contato/">aqui</a>.
                            </li>
                        </ul>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style="clear:both; float:right;">
                        <figure style="float:left;">
                            <img class="active img-responsive" style="border:2px solid #fff;" src="~/Imagens/Fotos/PublicoJovem/publicojovem1.png" alt="Público Jovem" title="Público Jovem" />
                        </figure>
                        <figure class="col-sm-offset-1" style="float:left;">
                            <img class="active img-responsive" style="border:2px solid #fff;" src="~/Imagens/Fotos/PublicoJovem/publicojovem2.png" alt="Público Jovem" title="Público Jovem" />
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="textovoltaraotopo"><a href="#GeneroPublicoJovem">Voltar ao topo</a></p>
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="boxgenerogrupopublico">
                <h6>Grupos</h6>
                <p>
                    <a name="PublicoAdulto" id="PublicoAdulto" class="ancorasitenslistaservicos">Público Adulto</a> - Serviços
                    destinados ao público adulto em geral (gênero masculino e feminino). <br />
                <p>
                    Proporcionamos para o Público de ambos os sexos Masculino e Feminino os mais variados serviços oferecidos pelo
                    <strong>Salão do Pantho</strong>. Destacam-se dentre eles os seguintes serviços listados logo abaixo:
                </p>
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li class="itenslistaservicos">
                                Nome:<br />
                                Corte de Cabelo à Máquina Simples;
                                <br /><br />Descrição:<br />

                                <br /><br />Preço:<br />

                            </li>
                            <li class="itenslistaservicos">
                                Para saber de mais serviços oferecidos, consulte-nos clicando <a href="/Contato/">aqui</a>.
                            </li>
                        </ul>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style="clear:both; float:right;">
                        <figure style="float:left;">
                            <img class="active img-responsive" style="border:2px solid #fff;" src="~/Imagens/Fotos/PublicoAdulto/publicoadulto1.png" alt="Público Adulto" title="Público Adulto" />
                        </figure>
                        <figure class="col-sm-offset-1" style="float:left;">
                            <img class="active img-responsive" style="border:2px solid #fff;" src="~/Imagens/Fotos/PublicoAdulto/publicoadulto2.png" alt="Público Adulto" title="Público Adulto" />
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="textovoltaraotopo"><a href="#GeneroPublicoAdulto">Voltar ao topo</a></p>
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="boxgenerogrupopublico">
                <h6>Grupos</h6>
                <p>
                    <a name="PublicoIdoso" id="PublicoIdoso" class="ancorasitenslistaservicos">Público Idoso</a> - Serviços
                    destinados ao público idoso em geral (gênero masculino e feminino). <br />
                <p>
                    Proporcionamos para o Público de ambos os sexos Masculino e Feminino os mais variados serviços oferecidos pelo
                    <strong>Salão do Pantho</strong>. Destacam-se dentre eles os seguintes serviços listados logo abaixo:
                </p>
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li class="itenslistaservicos">
                                Nome:<br />
                                Corte de Cabelo à Máquina Simples;
                                <br /><br />Descrição:<br />

                                <br /><br />Preço:<br />

                            </li>
                            <li class="itenslistaservicos">
                                Para saber de mais serviços oferecidos, consulte-nos clicando <a href="/Contato/">aqui</a>.
                            </li>
                        </ul>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style="clear:both; float:right;">
                        <figure style="float:left;">
                            <img class="active img-responsive" style="border:2px solid #fff;" src="~/Imagens/Fotos/PublicoIdoso/publicoidoso1.png" alt="Público Idoso" title="Público Idoso" />
                        </figure>
                        <figure class="col-sm-offset-1" style="float:left;">
                            <img class="active img-responsive" style="border:2px solid #fff;" src="~/Imagens/Fotos/PublicoIdoso/publicoidoso2.png" alt="Público Idoso" title="Público Idoso" />
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="textovoltaraotopo"><a href="#GeneroPublicoIdoso">Voltar ao topo</a></p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>