@{
    ViewBag.Title = "Salão do Pantcho - Midias";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<section class="row">
    <section class="col-sm-8">
        <h1>Salão do Pantcho</h1>
        <h4>Barbershop</h4>
        <hr />
        <h5>Midias</h5><br />
        <article>
            <p>
                O <strong>Salão do Pantcho</strong> agora está em diversas <em>Midias Sociais</em> como Facebook,
                Twitter, Instagram e Youtube. Todos os nossos clientes assim como nossos visitantes podem nos
                seguir em diversas dessas <em>Midias Sociais</em> e conhecer nossos Serviços, Produtos,
                Acessórios e Promoções.
            </p>
            <p>
                Siga-nos em nossas Midias Socias, torne-se nosso cliente e ganhe nosso <strong>Cartão Fidelidade</strong>
                e desfrute de todas as nossas promoções imperdíveis.
            </p>
        </article>
    </section>
</section>
<br /><br />
<section class="row">
    <aside class="col-sm-2 midias">
        <figure>
            <a href="#" target="_blank"><img class="img-responsive" src="~/Imagens/Conteudo/facebook.png" width="195" height="195" /></a>
            <figcaption class="descricaofigcaption">Siga-nos no Facebook</figcaption>
        </figure>
    </aside>
    <aside class="col-sm-2 midias">
        <figure>
            <a href="#" target="_blank"><img class="img-responsive" src="~/Imagens/Conteudo/twitter.png" width="195" height="195" /></a>
                <figcaption class="descricaofigcaption">Siga-nos no Twitter</figcaption>
        </figure>
    </aside>
    <aside class="col-sm-2 midias">
        <figure>
            <a href="#" target="_blank"><img class="img-responsive" src="~/Imagens/Conteudo/instagram.png" width="195" height="195" /></a>
            <figcaption class="descricaofigcaption">Siga-nos no Instagram</figcaption>
        </figure>
    </aside>
    <aside class="col-sm-2 midias">
        <figure>
            <a href="#" target="_blank"><img class="img-responsive" src="~/Imagens/Conteudo/yuotube.png" width="195" height="195" /></a>
            <figcaption class="descricaofigcaption">Siga-nos no Youtube</figcaption>
        </figure>
    </aside>
</section>