@{
    ViewBag.Title = "Salão do Pantcho - Galerias";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<section class="row">
    <section class="col-sm-8">
        <h1>Salão do Pantcho</h1>
        <h4>Barbershop</h4>
        <hr />
        <h5>Galerias</h5><br />
        <article>
            <p>
                Oferecemos comodidade e conforto para todos os nossos clientes em um ambiente calmo e agradável.
                Confira logo abaixo a <strong><em>Galeria de Imagens</em></strong> do <strong>Salão do Pantcho</strong>
                e tire suas próprias conclusões.
            </p>
            <br />
        </article>
        <section class="col-sm-4">
            <div id="slideshow">
                <figure>
                    <img class="active img-responsive" style="border:2px solid #fff;" src="~/Imagens/Fotos/salao1.jpg" alt="Salão do Pantcho" title="Salão do Pantcho" />
                </figure>
            </div>
        </section>
    </section>
</section>